<footer class="globalFooter fullClear">

    <a class="backToTop icon iconNavigateUp" href="#"><span>Back to top</span></a>

    <img class="crest" src="/Images/Redesign2015/crest-footer.png" alt="The Royal Society crest" />

    <img class="footerLogo" src="/Images/Redesign2015/logo-footer.png" alt="The Royal Society" />

    <p class="connectLinks">
        Connect with us:
        <a class="icon iconFacebook" href="https://www.facebook.com/theroyalsociety"><span class="offScreen">Connect on Facebook</span></a>
        <a class="icon iconTwitter" href="https://twitter.com/royalsociety"><span class="offScreen">Connect on Twitter</span></a>
        <a class="icon iconYoutube" href="https://www.youtube.com/user/RoyalSociety"><span class="offScreen">Connect on Youtube</span></a>
        <a class="icon iconLinkedIn" href="https://www.linkedin.com/company/the-royal-society?trk=prof-exp-company-name"><span class="offScreen">Connect on LinkedIn</span></a>
        <a class="icon iconPinterest" href="https://www.pinterest.com/royalsociety/"><span class="offScreen">Connect on Pintrest</span></a>
        @*<a class="icon iconInstagram" href="#"><span class="offScreen">Connect on Instagram</span></a>*@
    </p>
    
    <p>Stay in touch: 
        <a href="https://royalsociety.org/stay-in-touch/email-newsletters/">Email newsletters</a> | 
        <a href="https://royalsociety.org/stay-in-touch/blogs/">Blogs</a> | 
        <a href="https://royalsociety.org/stay-in-touch/podcasts/">Podcasts</a> | 
        <a href="https://royalsociety.org/stay-in-touch/rss/">RSS feeds</a>
    </p>
    
    <p>Copyright &copy; @DateTime.Now.Year The Royal Society. <span class="break">All rights reserved.</span></p>

</footer>
