<header class="globalHeader cf">
    <div class="headerContainer">
        <div class="wrapper cf">
            <a class="headerLogo left" href="https://royalsociety.org">The Royal Society</a>
            <nav class="topLinks right">
            </nav>
            <nav id="mainNav" class="fullClear">
                
            </nav>
        </div>
    </div>

</header>
